version: '3.5'

services:
  server:
    build: server/
    ports:
      - '${SERVER_PORT}:${SERVER_PORT}'
    environment:
      - SERVER_HOSTNAME
      - SERVER_PORT
      - API_HOSTNAME
      - API_PORT
    networks:
      - lambda
    depends_on:
      - api
    restart: unless-stopped
  api:
    build: api/
    expose:
      - '${API_PORT}'
    environment:
      - API_PORT
      - API_VERSION
      - API_JAVA_WORKER_TOPIC_NAME
      - API_PARTITIONS_PER_TOPIC
      - BROKER_HOSTNAME
      - BROKER_PORT
      - DATABASE_HOSTNAME
      - DATABASE_PORT
      - DATABASE_NAME
      - DATABASE_USERNAME_FILE
      - DATABASE_PASSWORD_FILE
    secrets:
      - database_username
      - database_password
    networks:
      lambda:
        aliases:
          - ${API_HOSTNAME}
    depends_on:
      - broker
      - database
    restart: unless-stopped
  java_worker:
    build: java_worker/
    environment:
      - API_HOSTNAME
      - API_PORT
      - API_VERSION
      - BROKER_HOSTNAME
      - BROKER_PORT
    networks:
      - lambda
    depends_on:
      - api
      - broker
    restart: unless-stopped
  coordinator:
    image: confluentinc/cp-zookeeper:6.1.0
    expose:
      - '${COORDINATOR_PORT}'
    environment:
      - ZOOKEEPER_CLIENT_PORT=${COORDINATOR_PORT}
    networks:
      lambda:
        aliases:
          - ${COORDINATOR_HOSTNAME}
    restart: unless-stopped
  broker:
    image: confluentinc/cp-kafka:6.1.0
    expose:
      - '${BROKER_PORT}'
    environment:
      - KAFKA_BROKER_ID=1
      - KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR=1
      - KAFKA_ADVERTISED_LISTENERS=PLAINTEXT://${BROKER_HOSTNAME}:${BROKER_PORT}
      - KAFKA_ZOOKEEPER_CONNECT=${COORDINATOR_HOSTNAME}:${COORDINATOR_PORT}
    networks:
      lambda:
        aliases:
          - ${BROKER_HOSTNAME}
    depends_on:
      - coordinator
    restart: unless-stopped
  database:
    image: postgres:13.2
    expose:
      - '${DATABASE_PORT}'
    environment:
      - POSTGRES_DB=${DATABASE_NAME}
      - POSTGRES_USER_FILE=${DATABASE_USERNAME_FILE}
      - POSTGRES_PASSWORD_FILE=${DATABASE_PASSWORD_FILE}
    secrets:
      - database_username
      - database_password
    volumes:
      - database:/var/lib/postgresql/data/
    networks:
      lambda:
        aliases:
          - ${DATABASE_HOSTNAME}
    command: postgres --port=${DATABASE_PORT}
    restart: unless-stopped

secrets:
  database_username:
    file: 'secrets/database_username'
  database_password:
    file: 'secrets/database_password'

volumes:
  database:

networks:
  lambda:
