spring:
  kafka:
    consumer:
      bootstrap-servers: ${BROKER_HOSTNAME}:${BROKER_PORT}
      key-deserializer: org.apache.kafka.common.serialization.StringDeserializer
      value-deserializer: org.springframework.kafka.support.serializer.JsonDeserializer
      group-id: main

api:
  hostname: ${API_HOSTNAME}
  port: ${API_PORT}
  version: ${API_VERSION}
  topic-name: ${API_TOPIC_NAME}
