spring:
  main:
    web-application-type: none
  kafka:
    consumer:
      bootstrap-servers: localhost:9092
      key-deserializer: org.apache.kafka.common.serialization.StringDeserializer
      value-deserializer: org.springframework.kafka.support.serializer.JsonDeserializer
      group-id: main
      properties:
        spring.json.type.mapping: execution:com.danilopeixoto.worker.model.ExecutionModel

api:
  hostname: localhost
  port: 8080
  version: v1
  topic-name: worker_topic
