spring:
  kafka:
    producer:
      bootstrap-servers: ${BROKER_HOSTNAME}:${BROKER_PORT}
      key-serializer: org.apache.kafka.common.serialization.StringSerializer
      value-serializer: org.springframework.kafka.support.serializer.JsonSerializer
  r2dbc:
    driver-class-name: org.postgresql.Driver
    url: r2dbc:postgresql://${DATABASE_HOSTNAME}:${DATABASE_PORT}/${DATABASE_NAME}
    username: ${secrets.DATABASE_USERNAME_FILE}
    password: ${secrets.DATABASE_PASSWORD_FILE}

server:
  port: ${API_PORT}
  servlet:
    context-path: /api/${API_VERSION}

api:
  version: ${API_VERSION}
  java-worker-topic-name: ${API_JAVA_WORKER_TOPIC_NAME}
  partitions-per-topic: ${API_PARTITIONS_PER_TOPIC}

springdoc:
  api-docs:
    path: /docs
  swagger-ui:
    path: /docs/index.html
